{% extends 'main/base.html' %}

            {% block content %}
            <title>Todoshka: Main</title>
            {% if note.is_public or note.creator == user.username %}
                <tr onclick="window.location=`{% url 'note_detail' pk=note.pk %}`">
                    <td class="priority{{note.priority}}" id="priority">{{ note.name }}</td>
                    <td class="status{{note.status}}" id="status">
                        {% if note.status == '3' %}
                        <span>Выполнено</span>
                        {% elif note.status == '2' %}
                        <span>Выполняется</span>
                        {% elif note.status == '1' %}
                        <span>Ожидает исполнителя</span>
                        {% endif %}
                    </td>
                    <td>{{note.creator}}</td>
                    <td>
                        {{ note.worker }}
                    </td>
                    <td>{% if note.public %}Нет{% else %}Да{% endif %}</td>
                </tr>
            {% endif %}
            {% endblock %}