<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'themes/'|add:theme.theme|add:'/post_style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'common/img/logo.ico' %}">
    <title>Todoshka: Post New</title>
</head>
<body>
    <a href="/"><img style="width: 100px; height: 100px;" src="{% static 'common/img/logo.png' %}"></a>
    <div id="bg">
        <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-class"><p>Название {{ form.name }}</p>
                    </div>
                    <div class="form-class"><p>Описание {{ form.description }}</p>
                    </div>
                    <div class="form-class"><p>Важность {{ form.priority }}</p>
                    </div>
                    <div class="form-class"><p>Публично {{ form.is_public }}</p>
                    </div>
                    <button style="position:relative;" onclick="window.location=`{% url 'post' username=user.username %}`" type="submit">Создать</button>
                    <span style="position: relative;">{{ form.creator }}</span>
        </form>
    </div>
</body>
</html>