<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'common/logo.ico' %}">
    <title>Todoshka: Registration</title>
</head>
<body>
    <div id="auth-window">
        <form action="" method="post"><h2 class="form-class">Регистрация</h2>
            {% csrf_token %}
            <div class="form"><p>Имя пользователя</p>
                <span>{{ form.username }}</span>
            </div>
            <div class="form"><p>Пароль</p>
                <span>{{ form.password }}</span>
            </div>
            <button type="submit">Войти</button>
            или
            <a href="/login/">Вход</a>
        </form>
    </div>
</body>
</html>