body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 98.1vh;
    background-color: black;
    background: no-repeat;
    background-image: url('detail.png');
    background-size: cover;
    color: white;
}

#priority{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.priority3{
    border-left: red solid 5px;
}
.priority2{
    border-left: orange solid 5px;
}
.priority1{
    border-left: green solid 5px;
}


#status{
    -webkit-text-stroke: 0.5px black;
}
.status1{
    color: red;
}
.status2{
    color: orange;
}
.status3{
    color: green;
}


#info{
    background-color: rgba(0, 98, 255, 0.344);
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
}
    /* button:hover{
        background-position: 0 0;
        color:#fff;
    } */
button{display: inline; margin: 5px;}
#accept{
    position: relative;
    color: black;
    padding: 10px 20px;
    width: fit-content;
    text-decoration:none;
    text-align:center;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#0099ff 50%,#0014ad);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: none;
    border-radius: 8px;
}
#delete{
    position: relative;
    color: black;
    padding: 10px 20px;
    width: fit-content;
    text-decoration:none;
    text-align:center;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#b10000 50%,#b10000);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: none;
    border-radius: 8px;
}
#accept:hover{
    background-position: 0 0;
    color:#fff;
}
#delete:hover{
    background-position: 0 0;
    color:#fff;
}