#auth-form{
    left:810px;
    position: relative;
    font-size: xx-large;
    top: 30px;
}
#auth-window{
    background-color: rgba(255, 255, 255, 0.4);
    width: max-content;
    height: max-content;
    border-radius: 15px;
    display: table;
    margin: 5% auto 0 auto;
    padding: 20px;
}
.form-class{
    position: relative;
    width: max-content;
    margin-bottom: 5%;
}
h2{
    position: absolute;
    margin: auto auto auto 10%;
}
span{
    margin: auto 5% auto auto;
}
.form{
    margin: auto 10% 5% auto;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#042a7da3,#9108f488);
    overflow: hidden;
}
button{
    text-decoration: none;
    background: rgba(0, 132, 255, 0.77);;
    color: #f7f0f0;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 15px;
    box-shadow: 0px 4px 10px rgba(103, 95, 95, 0.54), 0px 10px 30px -15px rgba(14, 14, 14, 0.42);
    border: 2px solid #e3e6ec;
}
button:hover{
    background-image: linear-gradient(125deg,#35508c,#000000);
}