<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'themes/'|add:theme.theme|add:'/group_style.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/png" sizes="32x32" rel="icon" href="{% static 'common/img/logo.ico' %}">
        <script src="{% static 'common/script.js' %}"></script>

    </head>
    <body>
        <a href="/"><img style="width: 100px; height: 100px; top: 2px;" src="{% static 'common/img/logo.png' %}"></a>
        <div id="join_bg">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>