body {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#042a7da3,#9108f488);
  }
html{
    font-family: 'Franklin Gothic Medium';
}
.upper-tab{
    background-color: #3366FF;
    width: 100%;
    transition-duration: 1s;
    height: 40px;
    position: relative;
    bottom: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.upper-content{
    display: none;
    background-image: linear-gradient(125deg,#072cb2bc,#9397f0c2);
}
.upper-content button{
    position: absolute;
    top: 40px;
    text-decoration: none;
    background: rgba(0, 132, 255, 0.77);;
    color: #f7f0f0;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 4px 10px rgba(103, 95, 95, 0.54), 0px 10px 30px -15px rgba(14, 14, 14, 0.42);
    border: 2px solid #e3e6ec;
}
button{
    position: absolute;
    top: 40px;
    text-decoration: none;
    background: rgba(0, 132, 255, 0.77);;
    color: #f7f0f0;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 4px 10px rgba(103, 95, 95, 0.54), 0px 10px 30px -15px rgba(14, 14, 14, 0.42);
    border: 2px solid #e3e6ec;
}
.upper-content button:hover{
    background-image: linear-gradient(125deg,#35508c,#000000);
}
.upper-tab:hover{
    transition-duration: 400ms;
    height: 100px;
}
.upper-tab:hover .upper-content{
    display: block;
}
.note{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Franklin Gothic Medium';
    border-radius: 8px;
    width: fit-content;
    height: 60px;
}
.note:hover{
    background-color: rgba(200, 200, 200, 0.4);
}
.note p{
    display: inline-table;
    margin-right: 40px;
}