body{
    background-color: #6699FF;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#info{
    background-color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
#buttons{
    border-radius: 10px;
    left: 10px;
    position: relative;
}
#accept{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Bold, sans-serif;
    font-size: x-large;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 70px;
}
#delete{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Bold, sans-serif;
    font-size: x-large;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 70px;
}